include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
include requirements-dev.txt
recursive-include seiscae/config *.yaml
recursive-include configs *.yaml
recursive-include examples *.py *.ipynb
recursive-exclude tests *
recursive-exclude docs *
global-exclude __pycache__
global-exclude *.py[co]
